*.js
!jest.config.js
!artifact/edge/index.js
!artifact/edge-response/index.js
!artifact/base-image/omp-cloud-ide-controls/*.js
*.d.ts
node_modules

artifact/edge/config.json

# CDK asset staging directory
.cdk.staging
cdk.out*

__pycache__/
*.pyc
